.footer {
	margin-top: auto;
	background: linear-gradient(
		90deg,
		rgba(73, 169, 255, 0.2) 0%,
		rgba(252, 124, 217, 0.2) 100%
	);
	padding-top: 60px;
	padding-bottom: 40px;
	text-align: center;
}

.footer-top {
	border-bottom: 1px solid #d3cbd9;
	padding-bottom: 40px;
	margin-bottom: 40px;
}

.footer-logo {
	display: inline-block;
	margin-bottom: 40px;
}

.menu ul {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 60px;
	list-style: none;
	margin: 0;
	padding: 0;
}

.menu a {
	font-weight: 400;
	font-size: 16px;
	line-height: 130%;
	color: #535755;
	transition: color 0.2s;
}

.menu a:hover {
	color: #3596ed;
}

.copyright {
	font-weight: 400;
	font-size: 14px;
	letter-spacing: 0.04em;
	color: #858e8a;
}

/* 
1200px 
992px
768px
576px
375px

320px по типу айфона 5 - чаще всего минимальное значение
*/

@media (width <= 768px) {
	.menu ul {
		flex-direction: column;
		gap: 25px;
	}
}

@media (width <= 576px) {
	.footer {
		padding-top: 40px;
	}
}
