html {
	font-family: sans-serif;
}

body * {
	box-sizing: border-box;
}

.header {
	margin: 0 auto;
	max-width: 1320px;
	border-bottom: 2px solid grey;
}

.div-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

.div {
	max-width: 1320px;
	min-height: 100px;
	padding: 0 40px;
	margin: 0 auto;
}

.article-1 {
	width: 40px;
	height: 40px;
	background-color: #000;
}

a {
	color: #000;
}

ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

li {
	display: inline-block;
	margin: 0 10px 0 10px;
}

.article-3 {
	text-decoration: none;
}
